<module>
  <rawname>sms</rawname>
  <name>SMS</name>
  <publisher>Sangoma Technologies Corporation</publisher>
  <license>Commercial</license>
  <licenselink>http://literature.schmoozecom.com/EUA/FreePBXCommercialModule-EndUserAgreement.txt</licenselink>
  <repo>standard</repo>
  <category>Connectivity</category>
  <version>13.0.9</version>
  <description>
    This module is used to configure and manage SMS chat interfaces inside of the new UCP.
  </description>
  <changelog>
		*13.0.9* Support more file formats during upload
		*13.0.8* Remove full text searching on the database
    *13.0.7* Support for MMS Services
		*13.0.6* Remove en_US Translations
    *13.0.5* FREEPBX-11098 use bootstrap tables, fix formatting and display
    *13.0.4* Fix did array issue breaking sending
    *13.0.3* FREEPBX-11095
    *13.0.2.1* Fix database name typo
    *13.0.2* Version bump Beta
    *13.0.1alpha1* Remove DEFAULT charset from module install
  </changelog>
  <depends>
    <engine>asterisk 11</engine>
    <module>ucp ge 13.0.34</module>
    <version>13.0.128</version>
  </depends>
  <supported>
    <version>13.0</version>
  </supported>
</module>
